<!DOCTYPE html>
<html lan="en">

    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/about.css">
        <title>About Us</title>

    </head>

    <body>
        <% include ../partials/header %>

        <div class="content-area">
            <!-- Page Content -->
            <div class="container">

                <!-- Introduction Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">About Us
                            <small>Welcome to our Community!</small>
                        </h1>
                        <p class="index-content-p">

                            We are a small company consisting of four elite team members. Our team is passionate about
                            recreational sports and computer science. Each member has their own favorite sport which makes
                            this website unique as it will provide a wide range of expertise. We are looking forward to
                            creating and growing a friendly community that will make everyone feel comfortable.
                        </p>
                    </div>
                </div>

                <!-- Team Members Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Our Team</h2>
                    </div>
                    <div class="col-lg-6 col-sm-4 text-center">
                        <img class="img-circle img-responsive img-center" src="https://avatars0.githubusercontent.com/u/15644371?v=3&s=400" width="200" height="200" alt="">
                        <h3><a href="https://github.com/adfyong">Alan Yong</a>
                            <small>Code Guru</small>
                        </h3>
                        <p>This code genius is not to be taken lightly. Just try him in a <a href="http://play.typeracer.com/">typing race.</a></p>
                    </div>
                    <div class="col-lg-6 col-sm-4 text-center">
                        <img class="img-circle img-responsive img-center" src="https://avatars2.githubusercontent.com/u/15132019?v=3&s=400" width="200" height="200" alt="">
                        <h3><a href="https://github.com/reboss">John Robbins</a>
                            <small>Pool Shark</small>
                        </h3>
                        <p>This pool shark can beat you blindfolded. If not, he will just poke you in the eye.</p>
                    </div>
                    <div class="col-lg-6 col-sm-4 text-center">
                        <img class="img-circle img-responsive img-center" src="https://avatars0.githubusercontent.com/u/1766280?v=3&s=400" width="200" height="200" alt="">
                        <h3><a href="https://github.com/AdamEpp">Adam Epp</a>
                            <small>Sprint Master</small>
                        </h3>
                        <p>This sprint master can turn back time. No joke. That is how fast he runs.</p>
                    </div>
                    <div class="col-lg-6 col-sm-4 text-center">
                        <img class="img-circle img-responsive img-center" src="https://avatars3.githubusercontent.com/u/10747839?v=3&s=400" width="200" height="200" alt="">
                        <h3> <a href="https://github.com/codymoorhouse">Cody Moorhouse</a>
                            <small>Soccer Ninja</small>
                        </h3>
                        <p>This soccer ninja will do anything to score. He kicks so hard the ball lights on fire!</p>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>

        <% include ../partials/footer %>
    </body>
</html>