extends layout

block head
    script(src='/js/jquery-1.12.2.min.js')
    script(src='/js/contact-email.js')

    title= "Contact"

block link
    -var active = 'Contact';

block content

    div#content-container

        h1="Contact Us"
        p.contact-content-p
            input(id="from", type="text", placeholder="E-mail")

        p.contact-content-p
            input(id="subject", type="text", placeholder="Subject")

        p.contact-content-p
            textarea(id="content", cols="40", rows="5", placeholder="Message")

        p.contact-content-p
            button(id="send_email") Send Email

        p#message= ""
