<!DOCTYPE html>
<html lan="en">

    <head>
        <% include ../partials/head %>
        <link href="/css/carousel.css" rel="stylesheet">
    </head>

    <body>
        <% include ../partials/header %>

        <p>Welcome <%= user['fName'] + ' ' + user['lName'] %> </p>

        <% include ../partials/footer %>
    </body>

</html>