footer



    //p#footer-copyright.
    //    &copy; 2016, CubeRank.com
    br
    a(href="/contact" style="margin-right: 50px; float: right")= "contact us"

    a(href="/about" style="margin-left: 50px; float: left")= "about us"
    p#footer-trademark.
        &copy; 2016, CubeRank.com
        <br>
        All trademarks and registered trademarks appearing on
        this site are the property of their respective owners.
