footer

    div#site-map
      p#site-map-title Site Map

      ul#site-map-unsorted-list
        li.site-map-list-item
          a(href="/contact")= "Contact us"
        li.site-map-item
          a(href="/about")= "About us"

    p.footer-trademark
        &copy; 2016, CubeRank.com
        
    p.footer-trademark.
        All trademarks and registered trademarks appearing on
        this site are the property of their respective owners.
