footer
    p#footer-copyright.
        &copy; 2016, CubeRank.com

    p#footer-trademark.
        All trademarks and registered trademarks appearing on
        this site are the property of their respective owners.