footer



    p#footer-copyright.
        &copy; 2016, CubeRank.com

    a(href="/contact" style="margin-right: 100px; float: right")= "contact us"

    a(href="/about" style="margin-left: 100px; float: left")= "about us"
    p#footer-trademark.
        All trademarks and registered trademarks appearing on
        this site are the property of their respective owners.
