doctype html
html
  head
    block head
      title= title
      link(rel="stylesheet" href="public/index.css")

  body
    include header
    div#content-area
      block content
    div.push

    include footer
