extends layout

block head
    link(rel='stylesheet', href='stylesheets/index.css')
    title= "Login"

block link
    -var active = 'Login';

block content
    div#content-container
        h1= "Login"

        form(name="login-user", method="post")
            div.input.bold
                span.label Username:
                input(type="text", name="fname")

            div.input.bold
                span.label Password:
                input(type="text", name="lname")

            div.actions
                input(type="submit", name="login", value="Login")