extends layout

block head
    title= "Login"

block link
    -var active = 'Login';

block content
    div#content-container
        h1= "Login"

        form(name="login-user", method="post")
            div.input.bold
                span.label Username:
                br
                input(type="text", name="username", style="width: 200px")

            div.input.bold
                span.label Password:
                br
                input(type="password", name="password" style="margin-left: 2px; width: 200px")

            div.actions
                input(type="submit", name="login", value="Login", class="glossys")
