<!DOCTYPE html>
<html lan="en">

    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/login.css">
        <script src="/js/login.js"></script>
    </head>

    <body>
        <% include ../partials/header %>

        <div ng-app="login" ng-controller="loginCtrl" class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form name="login" role="form" novalidate class="login-form " ng-class="{submitted:addUser.submitted}" ng-submit="create(user)">
                            <div class="form-group">
                                <h2>Login</h2>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="fname">Username</label>

                                <input type="text" maxlength="50" class="form-control" name="fname" ng-model="user.fname" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="lname">Password</label>
                                <input type="password" maxlength="50" class="form-control" name="password" ng-model="user.password" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-info btn-block"><br>
                                <div ng-show="addUser.$submitted">
                                    <div ng-show="addUser.fname.$error.required || addUser.lname.$error.required || addUser.username.$error.required || addUser.email.$error.required || addUser.password.$error.required || addUser.passwordretype.$error.required">
                                        <div class="alert alert-danger">
                                            <strong>Warning!</strong> Missing fields.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p></p>Don't have an account? <a href="/signup">Sign up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>
    </body>
</html>