<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/header %>

<% include ../partials/match-table.ejs%>

<% include ../partials/footer %>

</body>
</html>
