<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/orgs.css">
    <script src="/js/matches.js"></script>
</head>

<body>
<% include ../partials/header %>

<div ng-app="matches" ng-controller="MainController as ctrl" class="container">
    <div class="content-area">
        <h1>{{heading}}</h1>
        <a href="/matches/create">Create new</a>
        <hr/>
        <table id="matches-table" class="display">
            <thead>
            <tr>
                <th>Match Date</th>
                <th>Match Result</th>
                <th>Tournament Id</th>
                <th>User One</th>
                <th>User Two</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in matches">
                <td>{{match.match_date}}</td>
                <td>{{match.match_result}}</td>
                <td>{{match.tournament_id}}</td>
                <td>{{match.username1}}</td>
                <td>{{match.username2}}</td>
                <td><a href="/matches/{{match.id}}"><img src="/img/trash.png" alt="trash"></a></td>
                <td><a href="/matches/{{match.id}}/edit"><img src="/img/edit.png" alt="edit"></a></td>
            </tr>
            </tbody>
        </table>
        <div ng-init="startDatatable()"></div>
    </div>
</div>


<% include ../partials/footer %>
</body>
</html>