<!DOCTYPE html>
<html lan="en">

    <head>
      <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>

        <div class="content-area">
            <h1>Privacy Policy</h1>

            <h3>We be super private and stuff</h3>
            <p class="index-content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis
                aliquam lorem, et dapibus erat. Vestibulum tristique dictum ex vel
                pulvinar. Maecenas facilisis iaculis turpis sed vulputate. Praesent maximus
                ultrices neque posuere ullamcorper. Phasellus dignissim augue vitae purus
                lacinia pulvinar. Fusce in elit id tellus semper vulputate ac non enim. Duis
                dapibus purus eget porttitor ultricies. Fusce rhoncus consectetur dictum. Duis
                quis condimentum augue. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Aenean id nisi molestie, aliquam nisl quis,
                consectetur arcu. Ut aliquam felis libero, et lacinia nulla vulputate
                vel. Integer vel maximus elit, vel euismod nibh. Cras ullamcorper mi vel neque
                bibendum tempor. Nam sed laoreet ante.
            </p>

            <p class="index-content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis, nisi
                ut sagittis molestie, nisi justo consequat turpis, non convallis erat ipsum at
                ipsum. Proin sed fringilla erat. In pellentesque dolor nulla, at sollicitudin
                justo porta eu. Vivamus semper neque diam, vitae facilisis nisi imperdiet sit
                amet. Donec eget egestas risus, nec volutpat sem. Aliquam semper velit ut
                rutrum condimentum. Nulla tincidunt ac velit et fringilla. Sed aliquam tortor
                eget feugiat cursus. Mauris laoreet a ante eget vehicula. Ut ac nunc accumsan,
                convallis risus in, molestie quam. Morbi venenatis nulla eget sollicitudin
                posuere. Donec vel faucibus nibh. Etiam lobortis lacus faucibus dui dignissim
                rutrum sit amet ut massa. Mauris malesuada eros et dictum laoreet. Aenean
                efficitur arcu a felis tristique sagittis. Nulla cursus leo eu nulla lobortis,
                at accumsan felis dapibus.
            </p>

            <p class="index-content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus augue,
                mollis accumsan tellus vel, aliquam feugiat neque. Ut id semper arcu. Morbi
                vel purus consequat, vulputate lorem in, malesuada erat. Etiam nec quam
                semper, porta sem a, convallis lectus. Vestibulum semper dapibus tellus et
                accumsan. Integer finibus libero arcu, nec fermentum enim rutrum
                vitae. Aliquam lacinia eleifend lacinia. Nam in sem a eros gravida porttitor
                nec vel neque. Vivamus rutrum vel felis condimentum aliquet. Pellentesque non
                consequat arcu. Cras facilisis quam fermentum ex accumsan mollis. Nam eleifend
                ornare ullamcorper. Sed a nibh vitae nunc malesuada congue eget pulvinar
                leo. Sed at mi vitae est venenatis dictum quis vitae ex. Maecenas ut lectus
                sem.
            </p>

        </div>

        <% include ../partials/footer %>
    </body>
</html>
