<!DOCTYPE html>
<html lan="en" ng-app="tournament">

<head>
    <% include ../partials/head %>
    <script src="/js/bracket.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("button").click(function(){
                var names = $("textarea").val().split('\n');
                var title = $("input#title").val();
//                alert(names);
                $.ajax({
                    type: 'POST',
                    url: '/api/v1/tournaments/',
                    data: JSON.stringify({
                            title: title,
                            names: names
                        }),
                    contentType: "application/json",
                    dataType: 'json'
                }).done(function(response) {

                        window.location.href = ('/tournament/'+response.data);

                    });
                });
//                $.post('/api/v1/tournaments/',
//                        JSON.stringify({
//                            title: title,
//                            names: names
//                        },
//                function(data, status){
//                    alert("Data: " + data + "\nStatus: " + status);
//                });
            });
    </script>
</head>
    <body>
        <% include ../partials/header %>

        <div class="content-container">

            <h1 style="color: white">Tournament Generator</h1>
            <form name="quick-create">

                <span class="label">Tournament Name:</span>
                <input type="text" id="title" required ng-model="title" style="margin-left: 76px"><br><br>

                <div class="input">
                    <input type="checkbox" name="third_place">
                    <span class="label">Include a match for third place amongst semifinal losers?</span>
                </div>

                <div class="float-left">
                    <p style="color: white">
                        Participants / Teams:
                    </p>

                    <ul style="color: white">
                        <li> one participant per line</li>
                        <li> order by best to worst</li>
                    </ul>

                    <div class="input">
                        <input type="checkbox" name="randomizer">
                        <span class="label">randomize seeds?</span>
                    </div>
                </div>

                <p class="contact-content-p">
                    <textarea rows="16" cols="30" name="participants" required ng-model="participants"></textarea>
                </p>
                <button type="submit" name="generate" class="glossys">Generate!</button>
            </form>
        </div>
        <!--<form type="hidden" id="">-->
            <!--<input type="submit">-->
        <!--</form>-->
        <% include ../partials/footer %>
</body>
</html>

