<!DOCTYPE html>
<html lan="en">

    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>

        <div>
        <div id="signup-container" ng-app="signup" ng-controller="signupCtrl">
            <h1>Sign Up</h1>

            <form action="post" name="signup-user" id="signup-form">

                <div class="item">

                    <div class="input bold">
                        <div class="signup-label">
                            <label>First Name:</label>
                        </div>
                        <div class="signup-input">
                            <input class="signup-input" type="text" name="fname">
                        </div>
                    </div>

                    <div class="input bold">
                        <div class="signup-label">
                            <label>Last Name:</label>
                        </div>
                        <div class="signup-input">
                            <input class="signup-input" class="signup-input" type="text" name="fname">
                        </div>
                    </div>

                </div>


                <div class="input bold">
                    <div class="signup-label">
                        <label>Email:</label>
                    </div>
                    <div class="signup-input">
                        <input class="signup-input" type="text" name="email">
                    </div>
                </div>

                <div class="input bold">
                    <div class="signup-label">
                        <label>Username:</label>
                    </div>
                    <div class="signup-input">
                        <input class="signup-input" type="text" name="username">
                    </div>
                </div>
                <div class="input bold">
                    <div class="signup-label">
                        <label>Password:</label>
                    </div>
                    <div class="signup-input">
                        <input class="signup-input" type="password" name="password">
                    </div>
                </div>

                <div class="input bold">
                    <div class="signup-label">
                        <label>Retype password:</label>
                    </div>
                    <div class="signup-input">
                        <input class="signup-input" type="password" name="password">
                    </div>
                </div>

                <div id="signup-button">
                    <input type="submit" class="glossys" name="submit" value="signup">
                </div>

                <!-- <li ng-repeat="user in signup" style="list-style-type: none; color: white;"> -->
                <!--     {{ user.name }} -->
                <!-- </li> -->
            </form>
        </div>
        </div>
        <% include ../partials/footer %>

        <script>
            (function() {
                var app = angular.module('signup', []);

                app.controller('signupCtrl', function($scope, $http) {
                    $http.get("api/v1/users").then(function(response) {
                       $scope.signup = response.data.data;
                    });
                });
            })();
        </script>
    </body>
</html>
