<div id="signup-container">
    <h1>Sign Up</h1>

    <form action="post" name="signup-user">
        <div id="signup-left" class="float-left" style="margin-left: 90px">
            <div class="input bold">
                <span class="label">First Name:</span>
                <br>
                <input type="text" name="fname">
            </div>
            <div class="input bold">
                <span class="label">Last Name:</span>
                <br>
                <input type="text" name="fname">
            </div>
            <div class="input bold">
                <span class="label">Email:</span>
                <br>
                <input type="text" name="email">
            </div>
        </div>
        <div id="signup-right" class="float-right">
            <div class="input bold">
            <span class="label">Username:</span>
                <br>
                <input type="text" name="username">
            </div>
            <div class="input bold">
                <span class="label">Passwor:</span>
                <br>
                <input type="password" name="password">
            </div>
            <div class="input bold">
                <span class="label">Retype password:</span>
                <br>
                <input type="password" name="password">
            </div>
        </div>

        <div class="actions">
            <input type="submit" id="signup-submit-button" class="glossys"
            name="submit" value="signup">
        </div>
    </form>
</div>
