<!DOCTYPE html>
<html lan="en">

    <head>
      <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>

        <div class="content-area">
            <h1>Terms of Use</h1>

            <h3>You may use this. That is our terms</h3>
            <p class="index-content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam
                orci. Quisque auctor nisi erat, sit amet dapibus dolor auctor in. Nulla
                lacinia porttitor ligula. Vivamus bibendum felis id risus eleifend
                blandit. Donec posuere justo ut molestie dictum. Aliquam non est lacinia,
                ultrices felis sed, dignissim urna. Suspendisse ullamcorper eu metus vel
                dapibus. Curabitur at nunc purus. Morbi in mattis lacus, in hendrerit
                nibh. Sed laoreet massa eget mi sollicitudin, sit amet hendrerit felis
                faucibus. Nunc rhoncus faucibus lectus, eu tempor risus lobortis sit
                amet. Curabitur euismod augue lacinia urna vulputate pellentesque. Maecenas a
                nunc libero.
            </p>

            <p class="index-content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat massa
                pulvinar, porta erat ornare, mollis sapien. Morbi ultricies ultrices
                interdum. Proin faucibus eget nisl a consequat. Morbi faucibus viverra ex, ut
                dignissim nisl semper et. Pellentesque elit mauris, auctor at ligula sed,
                aliquet iaculis sem. Integer lacinia lectus nec hendrerit
                consectetur. Pellentesque ut lectus vel ipsum gravida dignissim. Nullam
                ultricies vulputate dapibus.
            </p>

            <p class="index-content-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque
                purus ipsum, at egestas turpis dignissim et. Fusce sollicitudin in augue eget
                dignissim. Nulla facilisi. Mauris ut ante neque. Morbi ipsum lorem,
                ullamcorper ac tempor id, imperdiet id nunc. Suspendisse blandit scelerisque
                ante quis dignissim. Ut ultricies lacus vel feugiat sodales. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Quisque ut mauris ut enim
                volutpat suscipit. Vivamus ultricies urna ac dignissim maximus. Nullam
                lobortis velit velit, vel cursus felis porta nec. Duis quis diam hendrerit
                elit molestie sagittis eu id tellus. Phasellus id faucibus libero. Sed
                vestibulum tortor turpis. Duis id ante odio. In sed odio vel nisl vestibulum
                accumsan vel in nibh.
            </p>

        </div>

        <% include ../partials/footer %>
    </body>
</html>
