<!DOCTYPE html>
<html lang="en" ng-app="tournament">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">

    <script src='/js/jquery-1.12.2.min.js'></script>
    <script src="/js/jquery.bracket.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.bracket.min.css">
</head>

<body>
<% include ../partials/header %>


    <h2 id="title" style="color: white; float: left; margin-left: 20px"></h2>
    <div id="tournament-container" style="clear: left">
    <script type="text/javascript">

        var tournament = {teams: [], results: []};
        var roundWinners = [];
        var tid = window.location.href.split('/')[4];

        $.get('/api/v1/tournaments/' + tid, function(data){

            document.getElementById('title').innerHTML = data.data[0].title;

        });

        $.get('/api/v1/tournaments/' + tid + "/matches", function(data) {
//            alert(tournament.teams);
            for (var i = 0; i < data.data.length; i ++) {
                tournament.teams.push([data.data[i].username1, data.data[i].username2]);
                tournament.results.push([[null, null]]);
                roundWinners.push([null, null]);

            }
            var previous = tournament;

            $.get('/api/v1/tournaments/' +tid, function(data){

                document.getElementById('title').innerHTML = data.data[0].title;
                $(function () {
                    $('div#save .demo').bracket({
                        init: tournament, /* data to initialize the bracket with */
                        save: saveFn,
                        userData: ' ',
                        onMatchClick: null,
                        onMatchHover: null,
                        decorator: null,
                        skipSecondaryFinal: false,
                        skipGrandFinalComeback: false,
                        dir: 'lr'
                    });
                });

                function saveFn(data, userData) {
                    var json = JSON.stringify(data);
//                    alert(userData);
                    $('#saveOutput').text('POST ' + userData + ' ' + json);
                    var val = whatsChanged(data, previous);
//                    alert(JSON.stringify(val));
                    previous = data;
//                    $.ajax('/api/v1/tournament/'+window.location.href.split('/')[4] + '/' + val, {
//                        contentType: 'application/json',
//                        dataType: 'json',
//                        type: 'post',
//                        data: json
//                    });
                }

            });

            function whatsChanged(data, previous) {

//                alert(JSON.stringify(previous))
                var update = {};
                var round = 0;
                var results = data.results;
                for (var i = 0; i < results.length; i++){
                    for (var j = 0; j < results[i].length; j++){
                        round++;
                        for (var k = 0; k < results[i][j].length; k++){
                            if (results[i][j][k] !== previous.results[i][j][k]){

                                if (j > 0){
                                    roundWinners[round] = winner;
                                    update["update"] = {
                                        "league_id": 1,
                                        "tournament_id": tid,
                                        "username1": data.teams[round-k],
                                        "username2": data.teams[round-k],
                                        "user1_id": 1,
                                        "user2_id": 1
                                    }
                                }
                                if (round % 2 === 0 && roundWinners[round+1] !== '' ||
                                round % 2 === 1 && roundWinners[round-1] !== ''){

                                    update["newMatch"] = {
                                            "league_id": 1,
                                            "tournament_id": tid,
                                            "username1": null,
                                            "username2": null,
                                            "user1_id": 1,
                                            "user2_id": 1
                                    };

                                }

                                return update;
                            }
                        }
                    }
                }
            }

        });


    </script>
    <div id="save" style="margin: 20px 200px">
    <div class="demo"></div>
    </div>
    </div>
<% include ../partials/footer %>
</body>
</html>


<!--<svg ng-repeat="name in names track by $index">-->
<!--<g ng-if="{{$index % 2 === 0}}">-->
<!--<rect x="0" y="{{$index * 30}}" width="100" height="20" ></rect>-->
<!--<text x="0" y="{{$index * 30}}" font-family="Verdana" font-size="16" fill="white" > {{ name }}</text>-->
<!--</g>-->
<!--<g ng-if="{{$index % 2 === 1}}">-->
<!--<rect x="0" y="{{($index - 1) * 30 + 20}}" width="100" height="20" ></rect>-->
<!--<text x="0" y="{{($index - 1) * 30 + 20}}" font-family="Verdana" font-size="16" fill="white" > {{ name }} </text>-->
<!--</g>-->
<!--</svg>-->