<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/orgs.css">
    <script src="/js/tournaments.js"></script>

</head>
<body>
    <% include ../partials/header %>

    <div ng-app="tournaments" ng-controller="tournamentController" class="container">
        <div class="content-area">
            <table id="leagues-table" class="display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tournament Name</th>
                    <th>League</th>
                    <th>Contestants</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tournament in tournaments">
                    <td>{{ tournament.id }}</td>
                    <td>{{ tournament.title }}</td>
                    <td>{{ tournament.id }}</td>
                    <td >{{ tournament.title }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <% include ../partials/footer %>
</body>
</html>