<!DOCTYPE html>
<html lan="en" ng-app="tournament">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">

    <script src='/js/jquery-1.12.2.min.js'></script>
    <script src="/js/bracket.js"></script>
    <script src="/js/jquery-1.12.2.min.js"></script>
    <script src="/js/jquery.bracket.min.js"></script>
    <link rel="stylesheet" href="/css/jquery.bracket.min.css">
</head>

<body>
<% include ../partials/header %>



    <div id="tournament-container">
    <script type="text/javascript">

        var tournament = {teams: [], results: []};

        $.get('/api/v1/tournaments/' + window.location.href.split('/')[4], function(data){

            document.getElementById('title').innerHTML = data.data[0].title;

        });

        $.get('/api/v1/tournaments/' + window.location.href.split('/')[4] + "/matches", function(data) {
//            alert(tournament.teams);
            for (var i = 0; i < data.data.length; i ++) {
                tournament.teams.push([data.data[i].username1, data.data[i].username2]);
//                tournament.results.push([null, null]);
            }

            $.get('/api/v1/tournaments/' + window.location.href.split('/')[4], function(data){

                document.getElementById('title').innerHTML = data.data[0].title;
                $(function () {
                    $('div#save .demo').bracket({
                        init: tournament, /* data to initialize the bracket with */
                        save: saveFn,
                        userData: ' ',
                        onMatchClick: null,
                        onMatchHover: null,
                        decorator: null,
                        skipSecondaryFinal: false,
                        skipGrandFinalComeback: false,
                        dir: 'lr'
                    });
                });

                function saveFn(data, userData) {
                    var json = jQuery.toJSON(data);
                    $('#saveOutput').text('POST ' + userData + ' ' + json);
                }

            });



//            $(function() {
//                var container = $('div#save .demo')
//                container.bracket({
//                    init: tournament,
//                    save: saveFn,
//                    userData: "http://myapi"})
//
//                /* You can also inquiry the current data */
//                var data = container.bracket('data')
//                $('#dataOutput').text(jQuery.toJSON(data))
//            })


//            function onclick(data) {
//                $('#matchCallback').text("onclick(data: '" + data + "')");
//                $.ajax({
//                    type: 'PUT',
//                    url: '/api/v1/tournaments/',
//                    data: JSON.stringify({
//                        winner: title,
//                        names: names
//                    }),
//                    contentType: "application/json",
//                    dataType: 'json'
//                }).done(function(response) {
//
//                    window.location.replace('/tournament/'+response.data);
//
//                });
        });


//            function onhover(data, hover) {
//                $('#matchCallback').text("onhover(data: '" + data + "', hover: " + hover + ")");
//            }


//        {
//            teams : [
//                ["Team 1", "Team 2"], /* first matchup */
//                ["Team 3", "Team 4"]  /* second matchup */
//            ],
//            results : [
//                [[1,2], [3,4]],       /* first round */
//                [[4,6], [2,1]]        /* second round */
//            ]
//        }



    </script>
    <h2 id="title" style="color: white"></h2>
    <div id="save" style="margin: 20px 200px">
    <div class="demo"></div>
    </div>
    </div>
<% include ../partials/footer %>
</body>
</html>


<!--<svg ng-repeat="name in names track by $index">-->
<!--<g ng-if="{{$index % 2 === 0}}">-->
<!--<rect x="0" y="{{$index * 30}}" width="100" height="20" ></rect>-->
<!--<text x="0" y="{{$index * 30}}" font-family="Verdana" font-size="16" fill="white" > {{ name }}</text>-->
<!--</g>-->
<!--<g ng-if="{{$index % 2 === 1}}">-->
<!--<rect x="0" y="{{($index - 1) * 30 + 20}}" width="100" height="20" ></rect>-->
<!--<text x="0" y="{{($index - 1) * 30 + 20}}" font-family="Verdana" font-size="16" fill="white" > {{ name }} </text>-->
<!--</g>-->
<!--</svg>-->