<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament</title>
    <% include ../partials/head %>
    <script src="/js/jquery-1.12.2.min.js"></script>


</head>
<body>

    <% include ../partials/header %>
    <h2 id="title"></h2>

    <script>
        $(document).ready(function() {
            var tournament = [];
            $.get('/api/v1/tournaments/' + window.location.href.split('/')[4], function (data) {

                document.getElementById('title').innerHTML = data.data[0].title;

            });

            $.get('/api/v1/tournaments/' + window.location.href.split('/')[4] + "/matches", function (data) {
                //            alert(tournament.teams);
                var content = "";
                for (var i = 0; i < data.data.length; i++) {
                    alert(data.data.length);    
                    tournament.push([data.data[i].username1, data.data[i].username2]);
                    content += "<svg><g><rect y=" + (i * 30) + ' width="100" height="20"></rect>' +
                            ''
                }

                $("#tournament-container").append(content);

            });
        });

    </script>
    <div id="tournament-container">

    </div>
</body>
</html>