<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="/css/users.css">

        <script src="/js/users.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <% include ../partials/header %>

        <div ng-app="usersApp" ng-controller="usersCtrl" class="container">
            <div class="content-area">
                <table id="users_table" class="display">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in userList">
                            <td><a href="/users/{{ person['id'] }}">{{ person['fname'] }}</a></td>
                            <td><a href="/users/{{ person['id'] }}">{{ person['lname'] }}</a></td>
                            <td><a href="/users/{{ person['id'] }}">{{ person['username'] }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <% include ../partials/footer %>
    </body>
</html>
