

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* styling for main content for the following pages thus far:
    signup.ejs
    quick-create.html
    */
#content-container{

    margin: 0px auto 20px auto;

    text-align: left;
    /*height: 600px;*/
    width: 600px;
    background-color: #dbd8cd;
    padding-left: 5px;
    /*padding-bottom: 10%;*/
}

#signup-container{

    margin: 0px auto 20px auto;
    text-align: center;
    width: 600px;
    background-color: #dbd8cd;
    padding-left: 5px;
    /*padding-bottom: 10%;*/
}

/* Styling for the main menu bar */
#nav-list {
    padding-top: 61px;
}
#nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #665663;*/
}

#nav-list li {
    float: left;
    border-right:1px solid #bbb;
}

#nav-list li:last-child {
    border-right: none;
}

#nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#nav-list li a:hover:not(.active) {
    border-top: 2px solid #0889c6;

    padding-top: 14px;
}

.active {

    border-top: 2px solid #0889c6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    padding-top: 14px;
    /*background-color: #0889c6;*/
}

#content-area {
    padding-top: 100px;
    color: #B2A8B1;
    padding-bottom: 10px;
    background-color: #dbd8cd;
    width:1200px;
    margin: 20px auto;
    padding-bottom: 5%;
    padding-top: 10px;
    color: black;
}



.italic-font {
    font-style: italic;
}

.index-content-p {
    margin: 0px 75px;
}

.header-content-area {
    /*position: fixed;*/
    margin: 0px auto;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* Standard syntax (must be last) */
    color: #E5FFFD;
    height: 108px;
    width: 1200px;
}

.header-content-area img#headerLogo {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}

footer {

    margin: 0px auto;
    width: 1200px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* Standard syntax (must be last) */
    color: #E5FFFD;
    text-align: center;
    padding: 15px 0px;

    font-size: 90%;
    clear: right;
}

#footer-copyright, #footer-trademark {
    padding: 0;
    margin: 0;
}

.contact-content-p {
    margin-left: 20%;
    margin-right: 20%;
}

#nav-list ul #right-menu {
    float:right;
    list-style-type:none;
}

#contact-middle-area {
    padding-top: 100px;
    color: #B2A8B1;
    font-family: "Verdana", "Arial", Sans-Serif;
    padding-bottom: 10px;
    background-color: #B2A8B1;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

#address-section {
    margin-left: 8px;
}
.input {
    font-weight: normal;
    padding-bottom: 20px;
}

.input.bold {
    font-weight: bold;

}

.input span.label {
    padding-right: 10px;
}

#signup-submit-button {
    margin-left: 400px;
}

.float-left {
    float:  left;
}



/*button, input, select, textarea {*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*line-height: inherit;*/
/*}*/

/*.input, textarea, keygen, select, button {*/
    /*text-rendering: auto;*/
    /*color: initial;*/
    /*letter-spacing: normal;*/
    /*word-spacing: normal;*/
    /*text-transform: none;*/
    /*text-indent: 0px;*/
    /*text-shadow: none;*/
    /*display: inline-block;*/
    /*text-align: start;*/
    /*margin: 3px 0px;*/
    /*font: 13.3333px Arial;*/
/*}*/
/*textarea, keygen, select, button, meter, progress {*/
    /*-webkit-writing-mode: horizontal-tb;*/
/*}*/

    