body {
    background-color: #DBD5B8;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-list {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: larger;
    list-style-type: none;
    overflow: hidden;
}

.nav-item {
    float: left;
    border-right: 1px solid #B2A8B1;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item .nav-link {
    display: block;
    color: #E5FFFD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#index-content-area {
    padding-top: 100px;
    color: #B2A8B1;
    font-family: "Verdana", "Arial", Sans-Serif;
    padding-bottom: 10px;
    background-color: #B2A8B1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

h1, h3 {
    color: #665663;
}

.italic-font {
    font-style: italic;
}

.index-content-p {
    margin-left: 20%;
    margin-right: 20%;
}

.header-content-area {
    position: relative;
    background-color: #665663;
    color: #E5FFFD;
    height: 108px;
}

.header-content-area img#headerLogo {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}

footer {
    background-color: #665663;
    color: #E5FFFD;
    text-align: center;
    padding: 15px;
    font-size: 90%;
    clear: right;
}

#footer-copyright, #footer-trademark {
    padding: 0;
    margin: 0;
}

.contact-content-p {
    margin-left: 20%;
    margin-right: 20%;
}

#contact-middle-area {
    padding-top: 100px;
    color: #B2A8B1;
    font-family: "Verdana", "Arial", Sans-Serif;
    padding-bottom: 10px;
    background-color: #B2A8B1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}
