body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBD5B8;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* styling for main content for the following pages thus far:
    signup.html
    quick-create.html
    */
#content-container{
    margin: 120px 300px 20px 450px;
    text-align: left;
    height: 500px;
    width: 500px;
    background-color: #B2A8B1;
    padding-left: 5px;
}

/* Styling for the main menu bar */
#nav-list {
    padding-top: 61px;
}
#nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #665663;
}

#nav-list li {
    float: left;
    border-right:1px solid #bbb;
}

#nav-list li:last-child {
    border-right: none;
}

#nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-list li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0889c6;
}

#content-area {
    padding-top: 100px;
    color: #B2A8B1;
    font-family: "Verdana", "Arial", Sans-Serif;
    padding-bottom: 10px;
    background-color: #B2A8B1;
    width:1200px;
    margin: 120px 75px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

h1, h3 {
    color: #665663;
}

.italic-font {
    font-style: italic;
}

.index-content-p {
    margin: 0px 75px;
}

.header-content-area {
    position: fixed;
    top: 0px;
    left: 75px;
    background-color: #665663;
    color: #E5FFFD;
    height: 108px;
    width: 1200px;
}

.header-content-area img#headerLogo {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}

footer {
    margin-left: 75px;
    width: 1200px;
    background-color: #665663;
    color: #E5FFFD;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 90%;
    clear: right;
}

#footer-copyright, #footer-trademark {
    padding: 0;
    margin: 0;
}

.contact-content-p {
    margin-left: 20%;
    margin-right: 20%;
}

#nav-list ul #right-menu {
    float:right;
    list-style-type:none;
}

#contact-middle-area {
    padding-top: 100px;
    color: #B2A8B1;
    font-family: "Verdana", "Arial", Sans-Serif;
    padding-bottom: 10px;
    background-color: #B2A8B1;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

#address-section {
    margin-left: 8px;
}
.input {
    font-weight: normal;
    padding-bottom: 20px;
}

.input.bold {
    font-weight: bold;

}

.input span.label {
    padding-right: 10px;
}

#signup-submit-button {
    margin-left: 400px;
}

.float-left {
    float:  left;
}