body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

#content-area h1{
    text-shadow: 1px 1px #0c31ff;
}

#home-containers{
    display: inline-block;
    margin: 20px auto;
}

.home-container{
    border-radius: 30px;
    float: left;
    overflow: hidden;
    margin: 0px 50px;
    background: #17bc9e;
    color: white;
    background: -moz-linear-gradient(top, #1c7997 0%, #17bc9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c7997), color-stop(100%, #39b2c6));
    background: -webkit-linear-gradient(top, #1c7997 0%, #39b2c6 100%);
    background: -o-linear-gradient(top, #1c7997 0%, #39b2c6 100%);
    background: -ms-linear-gradient(top, #1c7997 0%, #39b2c6 100%);
    background: linear-gradient(to bottom, #271baa 70%, #39b2c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bc3e', endColorstr='#aee850',GradientType=0 );
    border: 1px solid #1c7997;

}

.home-container a{
    text-decoration: none;
    color: white;
}

.home-container:hover {
    transform: scale(1.02);
}

.content-container{
    margin: 0px auto 20px auto;
    padding: 10px;
    text-align: left;
    width: 600px;
    background-color: #555;
}

#signup-container{
    margin: 0px auto 20px auto;
    width: 600px;
    background-color: #555;
    padding-left: 5px;
}

/* Styling for the main menu bar */
#nav-list {
    padding-top: 50px;
}

#nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-list li {
    float: left;
    border-right:1px solid #bbb;
}

#nav-list li:last-child {
    border-right: none;
}

#nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#nav-list li a:hover:not(.active) {
    border-bottom: 2px solid #0889c6;

    padding-top: 14px;
}

.active {
    border-bottom: 2px solid #0889c6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    padding-top: 14px;
}

#content-area {
    padding: 10px;
    color: white;
    background-color: #555
    width: 1200px;
    margin: 20px auto;
}

.italic-font {
    font-style: italic;
}

.index-content-p {
    margin: 0px 75px;
    padding-bottom: 15px;
}

.header-content-area {
    margin: 0px auto;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* Standard syntax (must be last) */
    color: #E5FFFD;
    height: 108px;
    width: 100%
}

.header-content-area img#headerLogo {
    float: left;
    padding-left: 6%;
    padding-top: 5px;
}

.push {
    height: 125px;
}

footer {

    margin: 0px auto;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, black , #111, #222, #333, #444, #555, #333, black, black); /* Standard syntax (must be last) */
    color: #E5FFFD;
    height: 125px;
    width: 100%
}

footer a{
    color: #39b2c6;
}

footer a:hover:not(.active) {
    color: #fffcef;
}

.footer-trademark {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.contact-content-p {
    margin-left: 20%;
    margin-right: 20%;
}

#nav-list ul #right-menu {
    float:right;
    padding-right: 6%;
    list-style-type:none;
}

#contact-middle-area {
    padding-top: 100px;
    color: #B2A8B1;
    font-family: "Verdana", "Arial", Sans-Serif;
    padding-bottom: 10px;
    background-color: #B2A8B1;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

#address-section {
    margin-left: 8px;
}
.input {
    border-radius: 5px;
    font-weight: normal;
    padding-bottom: 20px;
}

.input.bold {
    font-weight: bold;

}

.input span.label {
    padding-right: 10px;
}

#signup-submit-button {
    margin-left: 400px;
}

.float-left {
    float:  left;
}

.glossys {
    background: #17bc9e;
    border-radius: 8px;
    color: white;
    background: -moz-linear-gradient(top, #1c7997 0%, #17bc9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c7997), color-stop(100%, #39b2c6));
    background: -webkit-linear-gradient(top, #1c7997 0%, #39b2c6 100%);
    background: -o-linear-gradient(top, #1c7997 0%, #39b2c6 100%);
    background: -ms-linear-gradient(top, #1c7997 0%, #39b2c6 100%);
    background: linear-gradient(to bottom, #271baa 0%, #39b2c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bc3e', endColorstr='#aee850',GradientType=0 );

    border: 1px solid #1c7997;
    height: 30px;
    width: 140px;
}

#site-map {
    margin:      auto;
    padding:     5px 0px 0px 0px;
}

#site-map-title {
    margin: 0;
    padding: 0;
}

#site-map-unsorted-list {
    margin:      15px 0px 15px 0px;
    list-style:  none;
    display:     block;
    padding:     0;
}
