<hr>

<footer>
        <p id="site-map-title">
            Site Map
        </p>

        <ul id="site-map-unsorted-list">
            <li class="site-map-item"><a href="/terms">Terms of Use</a><li>
            <li class="site-map-item"><a href="/privacy">Privacy Policy</a><li>
            <li class="site-map-item"><a href="/contact">Contact Us</a></li>
            <li class="site-map-item"><a href="/about">About Us</a><li>
        </ul>

        <p class="footer-trademark">
            &copy; 2016, CubeRank.com
        </p>

        <p class="footer-trademark">
            All trademarks and registered trademarks appearing on
            this site are the property of their respective owners.
        </p>
</footer>