<%if (user === undefined) { %>
<header class="header-content-area">
    <a href="/"><img id="headerLogo" , src="/img/logosmall.png" , alt="CubeRank Logo" )></a>

    <div id="nav-list">
        <ul id="right-menu">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>

        <ul>
            <li><a href="/orgs">Organizations</a></li>
            <li><a href="/leagues">Leagues</a></li>
            <li><a href="/tournaments">Tournaments</a></li>
            <li><a href="/users">Users</a></li>
        </ul>

    </div>
</header>
<div class="push"></div>
<% } else{ %>
<header class="header-content-area">
    <a href="/"><img id="headerLogo" , src="/img/logosmall.png" , alt="CubeRank Logo" )></a>

    <div id="nav-list">
        <ul id="right-menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/settings"><img src="/img/gear.png" height="18px" width="18px"></a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <ul>
            <li><a href="/orgs">Organizations</a></li>
            <li><a href="/leagues">Leagues</a></li>
            <li><a href="/tournaments">Tournaments</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </div>
</header>
<div class="push"></div>
<% } %>
