<link rel="stylesheet" href="/css/match.css">

<div ng-app="matchcreate" class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <table>
                    <thead ng-controller="matchCtrl">
                    <tr>
                        <form name="matchform" role="form" novalidate class="match-form" ng-submit="create(match)">
                            <th>
                                <div class="form-group">
                                    <label class="control-label" for="match_date">Match Date</label>
                                    <input id="match_date" type="text" maxlength="50" class="form-control"
                                           ng-model="match.match_date" required>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="control-label" for="match_result">Match Result</label>
                                    <input id="match_result" type="text" maxlength="50" class="form-control"
                                           ng-model="match.match_result" required>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="control-label" for="tournament_id">Tournament Id</label>
                                    <input id="tournament_id" type="text" maxlength="50" class="form-control"
                                           ng-model="match.tournament_id" required>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="control-label" for="user1_id">User One Id</label>
                                    <input id="user1_id" type="text" maxlength="50" class="form-control"
                                           ng-model="match.user1_id" required>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="control-label" for="user2_id">User Two Id</label>
                                    <input id="user2_id" type="text" maxlength="50" class="form-control"
                                           ng-model="match.user2_id" required>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-block">Create a Match</input>
                                </div>
                            </th>
                        </form>
                    </tr>
                    </thead>
                    <tbody ng-controller="matchCtrlDis">
                    <tr>
                        <th><a href="" ng-click="order('match_date')">Date</a></th>
                        <th><a href="" ng-click="order('match_result')">Result</a></th>
                        <th><a href="" ng-click="order('tournament_id')">Tournament Id</a></th>
                        <th><a href="" ng-click="order('user1_id')">User One Id</a></th>
                        <th><a href="" ng-click="order('user2_id')">User Two Id</a></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="text" ng-model="search.match_date"/></td>
                        <td><input type="text" ng-model="search.match_result"/></td>
                        <td><input type="text" ng-model="search.tournament_id"/></td>
                        <td><input type="text" ng-model="search.user1_id"/></td>
                        <td><input type="text" ng-model="search.user2_id"/></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="m in match | orderBy:predicate:reverse | filter:search"
                        ng-class-odd="'odd'" |
                        ng-show="$index<25">
                        <td>{{ m.match_date}}</td>
                        <td>{{ m.match_result}}</td>
                        <td>{{ m.tournament_id}}</td>
                        <td>{{ m.user1_id}}</td>
                        <td>{{ m.user2_id}}</td>
                        <td></td>

                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<script>

    (function (angular) {
        'use strict';

        var app = angular.module('matchcreate', []);

        app.controller('matchCtrl', ['$window', '$scope', '$http', function ($window, $scope, $http) {
            $scope.master = {};

            $http.get("api/v1/leagues/1/matches").then(function (response) {
                $scope.signup = response.data.data;

                $scope.create = function (match) {
                    $http.post("api/v1/leagues/1/matches", match).then(function (response) {
                        /* Redirect after user is created */
                        $window.location.href = '/match';
                    });
                }
            });

            $scope.create = function (match) {
                $scope.master = angular.copy(match);
            };

        }]);

        app.controller('matchCtrlDis', function ($scope, $http) {

            $scope.predicate = 'name';
            $scope.reverse = true;
            $scope.order = function (predicate) {
                $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
                $scope.predicate = predicate;
            };

            $http.get("api/v1/leagues/1/matches").then(function (response) {
                $scope.match = response.data.data;
            });
        });
    })(window.angular);

</script>
