<link rel="stylesheet" href="/css/match.css">

<div class="content-area" ng-app="MyMatch">
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div ng-app="MyMatch" ng-controller="matchCtrl">
                        <table>
                            <thead>
                            <tr>
                                <th><a href="" ng-click="order('match_date')">Date</a></th>
                                <th><a href="" ng-click="order('match_result')">Result</a></th>
                                <th><a href="" ng-click="order('league_id')">League Id</a></th>
                                <th><a href="" ng-click="order('tournament_id')">Tournament Id</a></th>
                                <th><a href="" ng-click="order('user1_id')">User One Id</a></th>
                                <th><a href="" ng-click="order('user2_id')">User Two Id</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" ng-model="search.match_date"/></td>
                                <td><input type="text" ng-model="search.match_result"/></td>
                                <td><input type="text" ng-model="search.league_id"/></td>
                                <td><input type="text" ng-model="search.tournament_id"/></td>
                                <td><input type="text" ng-model="search.user1_id"/></td>
                                <td><input type="text" ng-model="search.user2_id"/></td>
                            </tr>
                            <tr ng-repeat="m in match | orderBy:predicate:reverse | filter:search"
                                ng-class-odd="'odd'" |
                                ng-show="$index<25">
                                <td>{{ m.match_date}}</td>
                                <td>{{ m.match_result}}</td>
                                <td>{{ m.league_id}}</td>
                                <td>{{ m.tournament_id}}</td>
                                <td>{{ m.user1_id}}</td>
                                <td>{{ m.user2_id}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var app = angular.module('MyMatch', []);

    app.controller('matchCtrl', function ($scope, $http) {

        $scope.predicate = 'name';
        $scope.reverse = true;
        $scope.order = function (predicate) {
            $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
            $scope.predicate = predicate;
        };

        $http.get("api/v1/leagues/1/matches").then(function (response) {
            $scope.match = response.data.data;
        });
    });

</script>