<script src="/js/angular-route.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/orgs.css">
<div class="content-area" ng-app="MyRank">

    <div ng-controller="leagueCtrl">
        <h1 ng-repeat="l in rank">Leaderboard For: {{ l.title }}</h1>
    </div>

    <div ng-app="MyRank" ng-controller="rankCtrl">
        <table id="rank-table" class="display">
            <thead>
            <tr>
                <th>User Name</th>
                <th>User Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in rank">
                <td>{{ user.username}}</td>
                <td>{{ user.user_rank}}</td>
            </tr>
            </tbody>
        </table>
        <div ng-init="startDatatable()"></div>
    </div>

</div>

<script>
    var app = angular.module('MyRank', []);

    app.controller('rankCtrl', function ($scope, $http, $timeout, $window) {

        $http.get("api/v1/leagues/1/userRanks?min=0&max=5000").then(function (response) {
            $scope.rank = response.data.data;
            $timeout(function () {
                $('#rank-table').dataTable();
            }, 0);

        });
    });

    app.controller('leagueCtrl', function ($scope, $http) {
        $http.get("api/v1/leagues/1").then(function (response) {
            $scope.rank = response.data.data;
        });
    })
</script>